# Based on:
# https://github.com/josephwright/siunitx/blob/main/.github/workflows/main.yaml
# https://github.com/zauguin/install-texlive
# https://github.com/moewew/biblatex-ext/blob/dev/.github/workflows/l3build.yml
# https://github.com/CTeX-org/ctex-kit/blob/master/.github/workflows/test.yml
# See also:
# https://github.com/gusbrs/zref-clever/issues/20
# https://github.com/gusbrs/zref-clever/pull/15

name: CI l3build tests

on:
  push:
  pull_request:
  schedule:
    - cron: "0 12 * * 5" # Every Friday at 12:00 UTC

env:
  ZC_PACKAGE_LIST: |
    # The test framework
    l3build
    # Build formats
    latex
    latex-bin
    luatex
    luatexbase
    xetex
    # Fonts
    metafont
    mfware
    ec
    amsfonts
    mathpazo
    psnfss
    tex-gyre
    inconsolata
    # Dependencies
    alphalph
    amsmath
    appendix
    babel-english
    babel-french
    babel-german
    babel-latin
    babel-portuges
    babel-spanish
    babel-dutch
    babel-italian
    babel-russian
    beamer
    bookmark
    booktabs
    breqn
    caption
    carlisle
    colortbl
    cm-unicode
    csquotes
    dvips
    enumitem
    environ
    epstopdf-pkg
    etexcmds
    fancyvrb
    float
    floatrow
    fmtcount
    fontspec
    graphics
    hologo
    hypdoc
    hyperref
    hyphen-french
    hyphen-german
    hyphen-latin
    hyphen-italian
    iftex
    infwarerr
    intcalc
    koma-script
    kvdefinekeys
    kvoptions
    kvsetkeys
    listings
    ltxcmds
    makeindex
    mathtools
    memoir
    microtype
    mptopdf
    newfloat
    oberdiek
    pdftexcmds
    polyglossia
    subfig
    tcolorbox
    tools
    trivfloat
    underscore
    upquote
    xpatch
    zref
    zref-check
    zref-vario

jobs:
  check:
    name: Regression tests
    runs-on: ubuntu-latest

    steps:
      - name: Install TeX Live
        uses: zauguin/install-texlive@v3
        with:
          packages: ${{ env.ZC_PACKAGE_LIST }}

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run tests
        run: l3build check -q

      - name: Archive failed test output
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: test-logs-diff-files
          path: |
            build/test*/*.diff
            build/test*/*.log
          retention-days: 5
  doc:
    name: Documentation
    runs-on: ubuntu-latest

    steps:
      # avoid clash in simultaneous attempts to update TeXLive on the same cache
      - run: sleep 2m

      - name: Install TeX Live
        uses: zauguin/install-texlive@v3
        with:
          packages: ${{ env.ZC_PACKAGE_LIST }}

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Compile documentation
        run: l3build doc -q -H

      - name: Archive documentation
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: documentation
          path: build/doc/*.pdf

      - name: Archive failed doc logs
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: doc-logs
          path: build/doc/*.log
